body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.btn-main{
    margin-top: 10px;
}

.btn-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.btn-main button{
    flex-basis: 100%;
    font-size: 16px;
    background-color: #04BD7D;
    color: #FFFFFF;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.logo-container-main{
    width: 90px;
    height: 120px;
    margin: 10px auto;
}

.hline-main{
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background: #04bd7d;
    position: relative;
    bottom: 0px;
}

.hline-bottom-main{
    width: 70%;
    height: 4px;
    border-radius: 3px;
    background: #04bd7d;
    position: relative;
    top: -5px;
}

.vline-main{
    width: 4px;
    height: 108px;
    border-radius: 3px;
    background: #04bd7d;
    position: relative;
    bottom: 4px;
    left: 20%;
    
}

.vline-main-rope{
    width: 4px;
    height: 20px;
    border-radius: 3px;
    background: #04bd7d;
    position: relative;
    bottom: 115px;
    left: 70%;
}

.head{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: #2C2f35;
    position: relative;
    bottom: 120px;
    left: 57%;
    border-radius: 50%;
    border: 4px solid #04bd7d;
}

.body{
    width: 4px;
    height: 30px;
    border-radius: 3px;
    background: #04bd7d;
    position: relative;
    bottom: 123px;
    left: 70%;
}

.arm{
    width: 20%;
    height: 4px;
    border-radius: 3px;
    background: #04bd7d;
    left: 62%;
    position: relative;
    bottom: 140px;
}

.leg{
    width: 20%;
    height: 4px;
    border-radius: 3px;
    background: #04bd7d;
    left: 62%;
    position: relative;
    bottom: 130px;
}

.table{
    width: 100%;
    color: white;
}
